header {
  color: var(--pwa-light);
  background-color: var(--pwa-blue);

  .top {
    display: flex;
    padding: 10px 15px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
                0 6px 10px 0 rgba(0,0,0,.14),
                0 1px 18px 0 rgba(0,0,0,.12);

    h1 {
      margin-bottom: 0;
    }
  }

  .bottom {
    padding: 5px 15px;
  }
}