header {
  color: var(--header-text-color);
  background-color: var(--header-bg-color);

  .top {
    display: flex;
    padding: 10px 15px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
                0 6px 10px 0 rgba(0,0,0,.14),
                0 1px 18px 0 rgba(0,0,0,.12);

    h1 {
      margin-bottom: 0;
    }
  }

  .bottom {
    display: flex;
    padding: 5px 15px;
    justify-content: flex-end;
    align-items: center;
  }
}