:root {
  
  // Colors
  --pwa-blue:               #3F51B5;
  --pwa-light:              #FFFFFF;
  --pwa-black1:             #181818;
  --pwa-black2:             #212121;
  --pwa-black3:             #434343;
  --pwa-gray1:              #dfdfdf;
}
