/* You can add global styles to this file, and also import other style files */
@import './styles/main.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.task-item {
  padding: 10px 10px;
  color: var(--task-item-color);
  background-color: var(--task-item-bg-color);
  border-bottom: 1px solid var(--task-item-border-color);
}
