.container {
  padding: 0 15px;
}

.row {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.col {
  padding: 0 15px;
  flex: 1;
}

.panel {
  margin-top: 24px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  overflow: hidden;

  h2 {
    margin: 0;
    padding: 0 10px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f8f7f7;
  }

  .task-list {
    min-height: 41px;

    .task-item {
      padding: 10px 10px;
      border-bottom: 1px solid #dfdfdf;
    }
  }
}